.L
  a.title(href="https://codepen.io/peipui/pen/yLzvyBX", target='_blank') 
          img(src="https://www.dropbox.com/s/s9rl65tu23jdh3s/%E7%B6%B2%E9%A0%81LOGO-02-01.png?raw=1",height="200px")
  .Wall
    .menu
      a.m1(href="https://codepen.io/peipui/pen/PoJJMve")
        .t 動畫
        .WallL1
          .Line1
          .Charger1
          .p1
            .i
            .i
      a.m2(href="https://codepen.io/peipui/details/poWaJrY")
        .t 角色設定
        .WallL2
          .Line1
          .Charger1
          .p1
            .i
            .i
      a.m3(href="https://codepen.io/peipui/pen/wvryarX")
        .t 商品
        .WallL3
          .Line1
          .Charger1
          .p1
            .i
            .i
  
    .Stand1
      .Stand
        .hole1
          .p
            .hole
            .hole
          .p
            .hole
            .hole
          .p
            .hole
            .hole
    
.WallF
  .A1
    video#VLogo(autoplay='', loop='', muted='', plays-inline='', height='400')
      source(src='https://www.dropbox.com/s/xtsrlk3g2u5uair/%E8%80%B3%E6%A9%9F%E5%8B%95%E7%95%AB%202_2_1.mp4?raw=1') 
    .A
      img(src="https://www.dropbox.com/s/9ig1m8hrc1edwmi/%E8%80%B3%E6%A9%9F%E7%B7%9A%E6%A1%86%E9%95%B7-01.png?raw=1",height="415px")
      
  .A2
    video#VLogo(autoplay='', loop='', muted='', plays-inline='', height='400')
      source(src='https://www.dropbox.com/s/quxxufbc2mr6wla/%E9%9B%BB%E8%85%A6%E5%8B%95%E7%95%AB.mp4?raw=1') 
    .A
      img(src="https://www.dropbox.com/s/1fsrymn23q2a00b/%E9%9B%BB%E8%85%A6%E7%B7%9A%E6%A1%86%E9%95%B7-01.png?raw=1",height="428px",width="210px")
  .A3
    video#VLogo(autoplay='', loop='', muted='', plays-inline='', height='400')
      source(src='https://www.dropbox.com/s/agxehzj8ewd6ca1/%E6%89%8B%E6%A9%9F%E5%8B%95%E7%95%AB.mp4?raw=1') 
    .A
      img(src="https://www.dropbox.com/s/7lad2ikcenjz5dw/%E6%89%8B%E6%A9%9F%E7%B7%9A%E6%A1%86%E9%95%B7-01.png?raw=1",height="415px")
    
  